{{#each errosNaPagina}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h2>Cadastrar Usuário</h2>
<form action="/cadastrar/usuario" method="post">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input class="form-control" type="text" name="nome">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo de Usuário</label>
        <select class="form-control" name="eAdmin">
            <option value="0" selected>Usuário</option>
            <option value="1">Administrador</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input class="form-control" type="password" name="senha">
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>