<h2>Cadastrar Carro</h2>
<form action="/" method="post">
    <div class="mb-3">
        <label class="form-label">Marca</label>
        <input class="form-control" type="text" name="marca">
    </div>
    <div class="mb-3">
        <label class="form-label">Modelo</label>
        <input class="form-control" type="text" name="modelo">
    </div>
    <div class="mb-3">
        <label class="form-label">Ano</label>
        <input class="form-control" type="text" name="ano">
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>